<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
    <title>Administrar Usuarios</title>
</head>
<body style="background-color: #FFFFFF;">

<div class="row row-cols-auto justify-content-center" style="background-color:#C7C4C4;">
    <a th:href="@{/admin/dashboard}"><img class="col rounded-4 float-start my-2 me-auto ms-3" th:src="@{../img/logomezza.png}" height="60" width="60"></a>

    <nav class="col-8 text-end my-auto">
        <div class="container-sm">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">Administrador</button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Administrador</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3" th:list>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/admin/mi_cuenta}" >Mi Cuenta</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/admin/administrar_usuarios}">Administrar Usuarios</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/admin/mi_restaurant}">Mi restaurant</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/admin/login}">Cerrar Sesión</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <img class="col rounded-circle float-end my-2 ms-0 me-3" th:src="@{../img/user-profile.jpg}" height="60">
</div>

<div class="container">
    <div class="mt-4 text-center">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registrarAdmin"> Agregar Administrador</button>
    </div>
    <div class="row mt-5">
        <div class="col-12 text-center">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Email</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="admin : ${admins}">
                    <th scope="row" th:text="${admin.id}"></th>
                    <td th:text="${admin.email}"></td>
                    <td th:text="${admin.nombre}"></td>
                    <td th:text="${admin.apellido}"></td>
                    <td>
                        <button class="btn btn-warning"
                                data-bs-toggle="modal"
                                data-bs-target="#editarAdmin"
                                th:data-email="${admin.email}"
                                th:data-nombre="${admin.nombre}"
                                th:data-apellido="${admin.apellido}"
                                th:data-idAdmin="${admin.id}"
                                onclick="editarAdmin(this.getAttribute('data-idAdmin'),this.getAttribute('data-email'),this.getAttribute('data-nombre'),this.getAttribute('data-apellido'))">
                            Editar
                        </button>
                        <button class="btn btn-danger"
                                data-bs-toggle="modal"
                                data-bs-target="#eliminarUsuario" th:data-idAdmin="${admin.id}" th:data-actualUser="${id}" onclick="selectUser(this.getAttribute('data-idAdmin'),this.getAttribute('data-actualUser'))" >Eliminar</button>
                    </td>


                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal Crear Nuevo Usuario-->
    <div class="modal fade" id="registrarAdmin" tabindex="-1" aria-labelledby="registrarAdminLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registrarModalLabel">Registrar Administrador</h5>
                </div>
                <div class="modal-body">
                    <!-- Formulario-->
                    <form th:object="${adminRegisterForm}" method="post" th:action="@{/admin/registrarAdmin/">
                        <div class="mb-3">
                            <label>Email</label>
                            <input type="text" th:field="*{email}" class="form-control" placeholder="Ingrese email"/>
                        </div>
                        <div class="mb-3">
                            <label>Nombre</label>
                            <input type="text" class="form-control" data-uplastname="" th:field="*{nombre}" placeholder="Ingrese nombre"/>
                        </div>
                        <div class="mb-3">
                            <label>Apellido</label>
                            <input type="text" class="form-control" th:field="*{apellido}" placeholder="Ingrese apellido"/>
                        </div>
                        <div class="mb-3">
                            <label>Contraseña provisoria</label>
                            <input type="text" class="form-control" th:field="*{apellido}" placeholder="Ingrese apellido"/>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Registrar Usuario</button>
                            <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal" >Cancelar</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal Editar Usuario-->
    <div class="modal fade" id="editarUsuario" tabindex="-1" aria-labelledby="editarUsuarioLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editarModalLabel">Editar Usuario</h5>
                </div>
                <div class="modal-body">
                    <!-- Formulario-->
                    <form th:object="${adminEditForm}" method="post" th:action="@{'/user/friendUpdate/' + ${id}}">
                        <input type="hidden" id="editId" name="id" th:field="*{id}" />
                        <div class="mb-3">
                            <label>Nombre</label>
                            <input type="text" th:field="*{name}" class="form-control" id="editNombre" placeholder="Cesar">
                        </div>
                        <div class="mb-3">
                            <label>Apellido</label>
                            <input type="text" th:field="*{lastname}" class="form-control" id="editApellido" placeholder="Astudillo">
                        </div>
                        <div class="mb-3">
                            <label>Fecha Nacimiento</label>
                            <input type="date" th:field="*{birthday}" class="form-control" id="editFechaNacimiento" placeholder="06/06/2023">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Guardar Cambios</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>

    <!-- Modal Eliminar Usuario-->
    <div class="modal fade" id="eliminarUsuario" tabindex="-1" aria-labelledby="eliminarUsuarioLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eliminarModalLabel">Eliminar Usuario</h5>
                </div>
                <div class="modal-body">
                    <h4>¿Seguro que quieres eliminar este usuario?</h4>
                </div>
                <div class="modal-footer">
                    <form id="deleteForm" method="post" >
                        <button type="button" class="btn btn-danger" onclick="deleteUser()" >Eliminar Usuario</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>




</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
<script>
    let idAdmin;
    let actualUser;

    function editarUsuario(id, email, nombre, apellido) {
        document.getElementById('editEmail').value = email;
        document.getElementById('editNombre').value = nombre;
        document.getElementById('editApellido').value = apellido;
        document.getElementById('editId').value = id;
    }

    function selectUser(admin,id){
        idAdmin = admin;
        actualUser = id;
    }

    function deleteUser(){
        fetch('admin/eliminar/+ idAdmin, {
            method: 'DELETE',
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Ocurrio un error al eliminar el usuario');
                }
                return response.text();
            })
            .then(() => {
                location.reload();
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    }

</script>
</html>