<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
    <title>Mi Cuenta</title>
</head>
<body style="background-color: #FFFFFF;">

<div class="row row-cols-auto justify-content-center" style="background-color:#C7C4C4;">
    <a href="dashboard-admin.html"><img class="col rounded-4 float-start my-2 me-auto ms-3" src="assets/img/logomezza.png" height="60" width="60"></a>

    <nav class="col-8 text-end my-auto">
        <div class="container-sm">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">Mi Cuenta</button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Mi Cuenta</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="mi-cuenta.html">Mi Cuenta</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="administrar-usuarios.html">Administrar Usuarios</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="mi-restaurant.html">Mi restaurant</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="login-admin.html">Cerrar Sesión</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <img class="col rounded-circle float-end my-2 ms-0 me-3" src="assets/img/user-profile.jpg" height="60">
</div>

<div class="text-center my-3">
    <img src="assets/img/user-profile.jpg" class="rounded-circle border border-dark" alt="...">
</div>

<div class="container m-auto">
    <table class="table">
        <tbody>
        <tr>
            <th></th>
            <td>Administrador</td>
            <td><button class="btn">Editar</button></td>
        </tr>
        <tr>
            <th></th>
            <td>Administrador@gmail.cl</td>
            <td><button class="btn">Editar</button></td>
        </tr>
        <tr>
            <th></th>
            <td>Contraseña</td>
            <td><button class="btn">Editar</button></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>